/*
  Style sheet for the page
*/

/* Background styling */
body {
	background-color:#ffffff;
	background-image:url(https://i.ibb.co/p3f3L34/db-bg.png);
	background-repeat:repeat-y;
}

header {
	color:#656565;
	font-size:16px;
	text-align:center;
	letter-spacing:5px;
	font-family:"Times New Roman";
	text-transform:uppercase;
}

#Header {
	position:absolute;
	left: 0px;
	top:0px;
	height:350px;
	width:1274px;
	background-image:url(https://i.ibb.co/YtPX8h3/db-banner.pngg);
}

#Main {
	position:absolute;
	left:230px;
	top:220px;
	width:597px;
	height:405px;
	z-index:2;
	color:#656565;
	font-size:13px;
	font-family: Times New Roman;
}

#Nav {
	position:absolute;
	left:859px;
	top:220px;
	width:220px;
	height:566px;
	color: #656565;
	font-size:12px;
  	font-family: Times New Roman;
}

/* Result table styling */
#OutputTable {
	position:absolute;
	left:0px;
	top:38px;
 	width: 597px;
	font-size: 13px;
	font-family: Times New Roman;
	color: #656565;
	text-align: left;
}

/* Changes the Search button */
input[type=submit] {
  background-color: #73b8ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

input[type=submit]:hover {
  background-color: #72a8ff;
}

table { border-collapse: collapse; }
/* Make only veritcal columns */
td {
  border-right: solid 1px #000000;
  border-left: solid 1px #000000;
}

/* Changes the hover color when you hover over the table */
tr:hover {
	background-color: #f5f5f5;
}

/* Makes the striping affect of the table */
tr:nth-child(even) {
	background-color: #f8cef2;
}
