/*
  Style sheet for the page
*/

body {
  background-color:#ffffff;
  background-image:url(https://i.ibb.co/bFXcBq9/db-bg.png);
  background-repeat:repeat-y;
}

header {
  color:#656565;
  font-size:16px;
  text-align:center;
  letter-spacing:5px;
  font-family:"Times New Roman";
  border-bottom-style: solid;
  border-bottom-width: 3px;
  text-transform:uppercase;
}

#Title {
  position:absolute;
  left:305px;
  top:120px;
  width:450px;
  text-transform:uppercase;
  letter-spacing:5px;
  font-size:36px;
  color:#000000;
  font-family: "Palatino Linotype";
}
  
#Header {
  position:absolute;
  left: 0px;
  top:0px;
  height:350px;
  width:1074px;
  background-image:url(https://i.ibb.co/6Jy43J9/db-banner.png);
}

#Main {
  position:absolute;
  left:312px;
  top:250px;
  width:490px;
  height:405px;
  z-index:2;
  color:#656565;
  font-size:13px;
  font-family: Times New Roman;
}
  
#Nav {
  position:absolute;
  left:830px;
  top:250px;
  width:175px;
  height:566px;
  color: #656565;
  font-size:12px;
  font-family: Times New Roman;
}